<html>
    <head>
        <div style="text-align: center;">
        <h1 ><%= pawprint %></h1>
        <p>From this class, I would like to learn more about Angular, node, express. And use this knowledge to 
            develop the fully responsive websites </p>        
        </div>
    </head>
</html>